@charset "UTF-8";

/**
 * @copyright     2022 beikeshop.com - All Rights Reserved.
 * @link          https://beikeshop.com
 * @Author        pu shuo <pushuo@guangda.work>
 * @Date          2022-09-01 16:23:34
 * @LastEditTime  2022-09-16 20:57:19
 */

body.page-account {
  .account-card {
    border: none;

    .card-items {
      > a {
        width: 25%;
        color: #444444;
        text-decoration: none !important;
        i {
          font-size: 2rem;
        }

        span {
          display: flex;
        }
      }
    }

    .card-body {
      @media (min-width: 992px) {
        min-height: 509px;
      }
    }

    .order-wrap {
      background-color: #f6f8f9;

      @media (min-width:768px) {
        padding: 2rem 1rem;
      }

      .icon {
        i {
          font-size: 4.5rem;
          color: #777;
        }
      }

      .text {
        font-size: 1rem;
      }
    }
  }
}

.account-sides-info {
  @media (max-width:768px) {
    margin-bottom: 14px;
  }
}