@charset "UTF-8";

/**
 * @copyright     2022 beikeshop.com - All Rights Reserved.
 * @link          https://beikeshop.com
 * @Author        pu shuo <pushuo@guangda.work>
 * @Date          2022-08-02 19:19:52
 * @LastEditTime  2023-12-04 13:52:53
 */

@charset "UTF-8";

$primary: #fd560f;

@import './iconfont';
@import './global';

@import './header';
@import './footer';
@import './product-style';
@import './news';
@import './login';
@import './account/account';
@import './page-product';
@import './cart';
@import './page-checkout';
@import './page-categories';
@import './element-ui';
@import './order-success';
@import './page-account-order';
@import './page-account-address';
@import './page-brands';
@import './home';
@import './module/module-image-plus';
@import './module/module-brand';
@import './module/module-tab-product';
@import './module/slideshow';
@import './module/module-page';
@import './module/module-image-301';
@import './module/module-image-402';
