@charset "UTF-8";

/**
 * @copyright     2022 beikeshop.com - All Rights Reserved.
 * @link          https://beikeshop.com
 * @Author        pu shuo <pushuo@guangda.work>
 * @Date          2022-09-03 22:32:29
 * @LastEditTime  2022-09-16 20:48:00
 */

footer {
  // background: #F8F9FA;
  background: #fafafa;
  margin-top: 5rem;

  @media (max-width:768px) {
    margin-top: 2rem;
  }

  .footer-active {
    outline: 2px dashed #4bb1f0 !important;
  }

  .services-wrap {
    padding: 2.2rem 0;
    border-bottom: 1px solid #e4e4e4;

    .service-item {
      display: flex;
      align-items: center;

      .icon {
        width: 34px;
        margin-right: 14px;
      }

      p {
        margin-bottom: 0;
      }

      .title {
        margin-bottom: 2px;
        font-weight: bold;
        color: #333;
      }

      .sub-title {
        font-size: .6rem;
        color: #8D94A0;
      }
    }
  }

  .footer-content {
    padding: 3rem 0;

    a {
      color: #666;

      &:hover {
        color: $primary;
      }
    }

    .logo {
      max-width: 150px;
      margin-bottom: 20px;
    }

    .text {
      color: #666666;
    }

    h6 {
      font-size: 14px;
    }
  }

  .footer-bottom {
    height: 60px;
    display: flex;
    align-items: center;
    background: #EFEFF4;
    color: #666;
  }
}