@charset "UTF-8";

/**
 * @copyright     2022 beikeshop.com - All Rights Reserved.
 * @link          https://beikeshop.com
 * @Author        pu shuo <pushuo@guangda.work>
 * @Date          2022-09-09 19:16:39
 * @LastEditTime  2022-09-16 20:55:07
 */

[v-cloak] {
  display: none;
}

body[class^="page-account"] {
  // background-color: #F7F8FA;
  background-color: #f4f4f4;
}

body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  -webkit-text-size-adjust: none;
}

body.app {
  .breadcrumb-wrap {
    height: 10px;

    .container {
      display: none;
    }
  }

  .col-lg-3.col-12 {
    display: none;
  }
}

@font-face {font-family: 'Poppins';
  src: url('/fonts/poppins/Poppins-Regular.ttf') format("truetype");
  font-style: normal;
  font-weight: 500;
  font-weight: normal;
  font-display: swap;
}

@font-face {font-family: 'Poppins';
  src: url('/fonts/poppins/Poppins-Medium.ttf') format("truetype");
  font-style: normal;
  font-display: swap;
  font-weight: 600;
}

@font-face {font-family: 'Poppins';
  src: url('/fonts/poppins/Poppins-SemiBold.ttf') format("truetype");
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}

h1,h2,h3, h4, h5, h6, b, strong {
  font-weight: 700;
  color: #282828;
}

@for $i from 1 through 6 {
  .min-h#{$i} {
    min-height: #{$i}00px;
  }
}

// 生成 100 200 300 ... 1000 的宽度
@for $i from 1 through 10 {
  .wp-#{$i}00 {
    width: #{$i}00px;
  }
}
// clac(100% - #{$i}00px)
@for $i from 1 through 10 {
  .wp-#{$i}00- {
    width: calc(100% - #{$i}00px);
  }
}

// 生成 100 200 300 ... 1000 的最小高度
@for $i from 1 through 10 {
  .h-min-#{$i}00 {
    min-height: #{$i}00px;
  }
}

// 生成 100 200 300 ... 1000 的最小宽度
@for $i from 1 through 10 {
  .w-min-#{$i}00 {
    min-width: #{$i}00px;
  }
}

// 生成 100 200 300 ... 1000 的最大宽度
@for $i from 1 through 10 {
  .w-max-#{$i}00 {
    max-width: #{$i}00px;
  }
}

// 生成 100 200 300 ... 1000 的高度
@for $i from 1 through 10 {
  .hp-#{$i}00 {
    height: #{$i}00px;
  }
}

// 生成 10 20 30 ... 90 的高宽
@for $i from 1 through 10 {
  .wh-#{$i}0 {
    height: #{$i}0px;
    width: #{$i}0px;
    flex: 0 0 #{$i}0px;
  }
}

.tooltip {
  // margin-bottom: 110px;
}

img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.col-form-label.required {
  &::before {
    content: "*";
    color: #f56c6c;
    font-size: 12px;
    font-weight: bold;
    margin-right: 5px;
  }
}

.login-pop-box {
  overflow: initial;

  @media (max-width: 768px) {
    width: 90% !important;
    height: 80% !important;
  }
}

.module-title {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  position: relative;
  padding-bottom: 10px;
  color: #333;
  margin-bottom: 2rem;

  @media (max-width: 992px) {
    font-size: 1rem;
  }

  &:after {
    position: absolute;
    bottom: 0;
    transform:translateX(-50%);
    left: 50%;
    content: '';
    width: 60px;
    height: 1px;
    background: #FD560F;
  }
}

.tinymce-format-p {
  p {
    margin-bottom: 0.5rem;
  }
}

.steps-wrap {
  display: flex;
  justify-content: space-around;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 14px;
    left: 0;
    width: 100%;
    border-bottom: 3px solid #D7D7D7;
  }

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    &.active {
      .number {
        background-color: #3C3D41;
        border-color: #3C3D41;
        color: #eee;
      }

      .title {
        color: #111;
      }
    }

    .number-wrap {
      padding: 0 4px;
      margin-bottom: .5rem;
    }

    .number {
      border: 2px solid #ddd;
      width: 30px;
      height: 30px;
      background-color: #fff;
      border-radius: 50%;
      display: flex;
      align-items: center; // flex-start | center
      justify-content: center; // flex-end | center | space-between
    }

    .title {
      color: #848484;
    }
  }
}

.quantity-wrap {
  width: 80px;
  height: 37px;
  display: flex;
  align-content: space-between;
  border: 1px solid #ced4da;

  @media (max-width: 768px) {
    width: 60px;
  }

  input {
    border: none;
    padding: 0.5rem;
  }

  > .right {
    display: flex;
    flex-direction: column;
    // align-items: center;
    border-left: 1px solid #ced4da;

    i {
      flex: 1;
      width: 20px;
      height: 17px;
      text-align: center;
      cursor: pointer;
      background-color: #fff;
      &:last-of-type {
        border-top: 1px solid #ced4da;
      }

      &:hover {
        background-color: #eee;
      }
    }
  }
}

.fixed-top-line-fixed {
  position: fixed;
  top: 0;
}

.account-sides-wrap {
  @media (max-width: 768px) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 9999;
    background: rgba(0,0,0,.4);
    visibility: hidden;
    transition: all .3s ease-out;

    &.active {
      visibility: visible;
      opacity: 1;

      .account-sides-info {
        transform: translateX(0);
      }
    }
  }
}

.account-sides-info {
  @media (max-width: 768px) {
    position: fixed;
    z-index: 1046;
    width: 80%;
    top: 0;
    left: 0;
    height: 100%;
    transform: translateX(-100%);
    background-color: #fff;
    transition: all .3s ease-out;
  }

  .mb-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #eee;
  }

  .head {
    display: flex;
    align-items: center;
    padding: 2rem 1rem;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    border-top-left-radius: 0.275rem;
    border-top-right-radius: 0.275rem;

    @media (min-width: 768px) {
      flex-direction: column;
    }

    @media (max-width: 768px) {
      padding: 1rem;
      border-bottom: 1px solid #eee;
    }

    .portrait {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.14);
      border: 2px solid #FFFFFF;
      overflow: hidden;

      @media (min-width: 768px) {
        margin-bottom: 1rem;
      }

      @media (max-width: 768px) {
        width: 60px;
        height: 60px;
        margin-right: 14px;
      }
    }

    .account-name {
      font-weight: bold;
      font-size: 1rem;
      margin-bottom: 0.4rem;
    }

    .account-email {
      color: #666666;
    }
  }

  .account-links {
    > a {
      color: #4B566B;
      border: none;
      padding: 0.8rem 1rem;
      border-bottom: 1px solid #EEEEEE;
      transition: all .2s ease-in-out;
      text-decoration: none !important;

      &:last-of-type {
        border-bottom: none;
      }

      &:hover {
        background-color: #E9ECEF;
      }

      &.active {
        background-color: #E9ECEF;
        color: #4B566B;
      }

      .badge {
        color: #fff;
      }
    }
  }
}

.text-size-min {
  font-size: 12px;
}

.text-truncate-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.breadcrumb-wrap {
  background-color: #f6f6f6;
  margin-bottom: 20px;

  @media (max-width: 768px) {
    margin-bottom: 10px;
  }

  .breadcrumb {
    @media (max-width: 768px) {
      padding-top: .4rem;
      padding-bottom: .4rem;
    }
  }
}

// 溢出隐藏 显示省略号
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  // 加一个 line
  &.line-2 {
    white-space: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  &.line-3 {
    white-space: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
}

.mobile-paginator {
  display: flex;
  justify-content: center;
  align-items: center;

  .input-group {
    max-width: 60px;
    margin: 0 10px;

    .input-group-text {
      padding: 0.46rem 0.56rem;
    }

    #mb-page-input {
      padding: 0.46rem 0.26rem;
      text-align: center;
    }
  }

  .btn  {
    border: 1px solid var(--bs-border-color);
    &:active {
      background-color: #eee;
    }
  }
}

.address-dialog {
  .el-form-item__label {
    line-height: initial;
  }
}

.iframe-modules-sortable-ghost {
  background-color: #f7f7f7;
  border: 1px dashed $primary;
  border-radius: 4px;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;

  .icon {
    display: none;
  }
}

#product-description td {
  border-width: 1px;
}

.page-content table td {
  border-width: 1px;
}