@charset "UTF-8";

header {
  // box-shadow: 0px 1px 10px  rgba(0, 0, 0, .04);
  background: #fff;
  body:not(.page-home) & {
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, .04);
    // border-bottom: 1px solid #e5e5e5;
  }

  .dropdown {
    &:hover {
      background-color: #fff;

      .dropdown-menu {
        margin: 0;
        display: block;
        // box-shadow: 0 6px 6px 0 rgb(0, 0, 0, .08);
        box-shadow: 0 0 15px rgb(0, 0, 0, .1);
        border: none;

        &.dropdown-menu-end {
          right: 0;
        }
      }
    }
  }

  .top-wrap {
    // padding: 10px;
    height: 40px;
    // max-height: 50px;
    background: #F7F8FA;
    display: flex;
  }

  .header-content {
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .navbar-nav {
    }

    .menu-wrap {
      .nav-link {
        color: #333;
        // font-weight: bold;
        font-size: .9rem;
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }

    .logo {
      img {
        max-width: 180px;
        max-height: 50px;
      }
    }

    .right-btn {
      .nav-link {
        color: #333;
        padding-right: 0.7rem;
        padding-left: 0.7rem;
        position: relative;
        i {
          font-size: 1.1rem;
        }
      }
    }
  }

  .navbar-icon-link-badge {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    width: 19px;
    height: 19px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    background: $primary;
    font-size: .6rem;
    line-height: 19px;
  }
}

#offcanvas-search-top {
  height: 100px;
  justify-content: center;

  .offcanvas-header {
    width: 100%;
  }

  input {
    &:focus {
      box-shadow: none;
    }
  }

  .btn-close {
    padding: 1rem;
    opacity: 1;

    &:hover {
      background-color: #eee;
    }
  }
}

#offcanvas-right-cart {
  .offcanvas-right-products {
    .product-list {
      padding: 1rem 0;
      border-top: 1px solid #eee;

      .left {
        width: 90px;
        margin-right: 10px;

        img {
          max-height: 90px;
        }
      }

      .right {
        .offcanvas-products-delete {
          cursor: pointer;
          color: #999;
        }
      }
    }
  }
}