@charset "UTF-8";

/**
 * @copyright     2022 beikeshop.com - All Rights Reserved.
 * @link          https://beikeshop.com
 * @Author        pu shuo <pushuo@guangda.work>
 * @Date          2022-09-09 19:16:39
 * @LastEditTime  2022-09-16 20:55:37
 */

body.page-login, body.page-forgotten {
  @media (max-width: 768px) {
    overflow-x: hidden;
  }

  .el-form-item__error--inline {
    margin-left: 0;
  }

  .login-alert {
    .layui-layer-btn0 {
      background-color: #222;
      border-color: #222;
    }
  }

  .forgotten-link {
    display: block;
    margin-top: -14px;
  }

  .el-form-item {
    margin-bottom: 18px;

    .el-form-item__content {
      line-height: 1;
    }
  }

  .login-item-header {
    background: #f8f9fa;
    border-bottom: none;
    padding: 1.2rem 1.5rem;
    h6 {
      font-weight: bold;
      font-size: 1rem;
    }
  }

  .vr-wrap {
    margin: 0 80px;
  }

  .login-wrap {
    @media (min-width: 768px) {
      display: flex;
      justify-content: center;
    }

    .card {
      border: none;
      @media (min-width: 768px) {
        width: 340px;
      }
    }
  }

  .form-iframe {
    margin-bottom: 30px;

    @media (max-width: 768px) {
      padding: 0;
      margin-top: 0 !important;
    }

    .vr-wrap {
      margin: 0 60px;
    }

    .card {
      border: none;
    }
  }

  .social-wrap {
    .title {
      position: relative;
      text-align: center;
      color: #999;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        left: 0;
        height: 1px;
        top: 47%;
        background: #e5e5e5;
      }

      span {
        background-color: #fff;
        position: relative;
        padding: 0 5px;
        z-index: 1;
      }
    }

    .btn {
      // border-color: #ccc !important;
      color: #666;

      img {
        // transform: translateY(-50%);
        position: absolute;
        left: 40px;
      }

      &:hover {
        background-color: #eee;
      }
    }
  }
}
