@charset "UTF-8";

/**
 * @copyright     2022 beikeshop.com - All Rights Reserved.
 * @link          https://beikeshop.com
 * @Author        pu shuo <pushuo@guangda.work>
 * @Date          2022-09-09 19:16:39
 * @LastEditTime  2022-09-16 20:55:37
 */

body.page-login, body.page-forgotten {
  @media (max-width: 768px) {
    overflow-x: hidden;
  }

  .login-item-header {
    background: #f8f9fa;
    border-bottom: none;
    padding: 1.2rem 1.5rem;
    h6 {
      font-weight: bold;
      font-size: 1rem;
    }
  }

  .card {
    border: none;
  }

  .form-iframe {
    @media (max-width: 768px) {
      padding: 0;
      margin-top: 0 !important;
    }
  }
}
