@charset "UTF-8";

/**
 * @copyright     2022 beikeshop.com - All Rights Reserved.
 * @link          https://beikeshop.com
 * @Author        pu shuo <pushuo@guangda.work>
 * @Date          2022-08-15 15:43:12
 * @LastEditTime  2022-09-16 20:56:17
 */

body.page-brands {
  .brand-item {
    display: flex;
    align-items: center; // flex-start | center
    justify-content: center; // flex-end | center | space-between
    box-shadow: 0 6px 18px rgba(0, 0, 0, .07);
    margin-bottom: 10px;
    height: 133px;
    width: 100%;

    >img {
      max-height: 100%;
    }
  }

  .brand-list {
    li {
      list-style: none;

      a {
        color: #242424;
        text-decoration: none;
      }
    }
  }

  .curser-list {
    cursor: pointer;

    @media (max-width: 768px) {
      display: block;

      li {
        display: inline-block;
        margin-bottom: 6px;

        & + .list-group-item {
          border-left: 1px solid #e4e4e4;
        }
      }
    }

    >li>a {
      color: #242424;
      transition: all .3s;
      text-decoration: none;

      &:hover {
        background-color: #eee;
      }

      &:active {
        background-color: #aaa;
      }
    }
  }
}
