@charset "UTF-8";

/**
 * @copyright     2022 beikeshop.com - All Rights Reserved.
 * @link          https://beikeshop.com
 * @Author        pu shuo <pushuo@guangda.work>
 * @Date          2022-09-01 16:23:34
 * @LastEditTime  2022-09-16 20:56:12
 */

body.page-checkout {
  .radio-line-wrap {
    .radio-line-item {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 20px;

      &:not(:last-of-type) {
        margin-bottom: 1rem;
      }

      &:hover {

      }

      &.active {
        border: 1px solid #e5e5e5;
      }

      .left {
        margin-right: 10px;
        display: flex;
        align-items: center;

        img {
          width: 60px;
          margin-left: 10px;
        }
      }

      .right {
        .title {
          font-weight: bold;
          margin-bottom: 10px;
        }
      }
    }
  }

  .addresses-wrap {
    .item {
      &.address-right {
        @media (min-width: 768px) {
          padding: 0 2.6rem;
        }

        @media (max-width: 768px) {
          padding: 0;
        }

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: auto;
        border: none;
      }
    }
    // .add-addres {
    //   display: flex;
    //   align-items: center; // flex-start | center
    //   justify-content: center; // flex-end | center | space-between
    //   flex-direction: column;
    //   font-size: 1rem;
    //   color: #666;

    //   i {
    //     font-size: 2rem;
    //   }
    // }
  }
}

body.page-checkout, body.page-bk-stripe {
  .checkout-black {
    margin-bottom: 2.6rem;
  }

  .right-column {
    position: relative;
    @media (min-width: 992px) {
      padding-left: 2rem;
    }
  }

  .checkout-title {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 16px;
    margin-bottom: 16px;
    position: relative;
    // padding-left: 10px;
    display: flex;
    align-items: center; // flex-start | center
    justify-content: space-between; // flex-end | center | space-between

    // &:before {
    //   content: '';
    //   position: absolute;
    //   top: 2px;
    //   left: 0;
    //   background-color: $primary;
    //   width: 3px;
    //   height: 16px;
    // }

    .btn {
      margin-bottom: -10px;
      &.icon {
        font-size: 1rem;
      }
    }
  }

  .total-wrap {
    padding: 1.4rem;
    border: 3px solid #efefef;

    .card-body {
      padding: 0;
    }

    .card-header {
      background-color: #fff;
      padding: 0 0 .8rem;
      margin-bottom: 1rem;
      border-bottom: 1px solid #E6E6E6;
      h5 {
        font-weight: bold;
      }

      span {
        line-height: 24px;
        min-width: 24px;
        color: #fff;
        text-align: center;
      }
    }

    .products-wrap {
      border-bottom: 1px solid #E6E6E6;
      margin-bottom: 1.3rem;
      padding-bottom: .3rem;
      max-height: 380px;
      overflow-y: auto;

      .item {
        display: flex;
        align-items: center; // flex-start | center
        justify-content: space-between; // flex-end | center | space-between
        margin-bottom: .8rem;

        .image {
          display: flex;
          align-items: center; // flex-start | center
          padding-right: 4px;

          img {
            width: 40px;
            margin-right: 10px;
          }

          .quantity {
            margin-left: 3px;
            color: #7a7a7a;
          }
        }

        .price {
          color: #7a7a7a;
        }
      }
    }

    .totals {
      padding-left: 0;
      list-style: none;
      padding-bottom: .3rem;
      margin-bottom: 1.5rem;
      border-bottom: 1px solid #E6E6E6;

      > li {
        display: flex;
        align-items: center; // flex-start | center
        justify-content: space-between; // flex-end | center | space-between
        margin-bottom: 14px;
        // flex-wrap: wrap;
        &:last-of-type {
          font-weight: bold;

          > span {
            &:last-of-type {
              color: #dc3545;
            }
          }
        }
        > span {
          // font-weight: bold;

          &:first-of-type {
            font-size: .8rem;
            // color: #3f3f3f;
          }

          &:last-of-type {
            // color: #dc3545;
          }
        }
      }
    }
  }
}