@charset "UTF-8";

body.page-product {
  .product-image {
    .left {
      margin-right: 1rem;

      > div {
        margin-bottom: 1rem;
      }
    }
  }

  .variables-wrap {
    .variable-info {
      > div {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
        border: 1px solid #ddd;
        margin-left: 0;
        min-width: 3rem;
        padding: 0.5rem;
        cursor: pointer;
        text-align: center;
        transition: all .1s ease-in-out;
        &:hover, &.active {
          border-color: #222;
        }
      }
    }
  }

  .peoduct-info {
    .rating-wrap {
      margin-bottom: 2rem;

      .rating {
        margin-right: .5rem;
        i {
          color: $primary;
        }
      }
    }

    .price-wrap {
      margin-bottom: 2rem;

      .new-price {
        margin-right: .6rem;
        font-size: 1.6rem;
        line-height: 1;
      }
    }

    .attribute-wrap {
      margin-bottom: 2rem;

      .table {

      }
    }

    .quantity-btns {
      .quantity-input {
        max-width: 5rem;
        text-align: center;
      }

      .quantity-wrap {
        height: 43px;
      }
    }
  }

  .product-description {
    .nav-tabs {
      .nav-link {
        border: none;

        &.active {
          position: relative;
          background-color: transparent;
          color: $primary;

          &:before {
            border-top: 1px solid $primary;
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
          }
        }
      }
    }
  }
}