@charset "UTF-8";

.module-title {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 2rem;

  &:after {
    position: absolute;
    bottom: 0;
    transform:translateX(-50%);
    left: 50%;
    content: '';
    width: 100px;
    height: 1px;
    background: #FD560F;
  }
}