@charset "UTF-8";

header {
  // box-shadow: 0px 1px 10px  rgba(0, 0, 0, .04);
  background: #fff;
  body:not(.page-home) & {
    border-bottom: 1px solid #e5e5e5;
  }

  .top-wrap {
    // padding: 10px;
    height: 44px;
    // max-height: 50px;
    background: #F7F8FA;
    display: flex;
  }

  .header-content {
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .navbar-nav {
      li {
        &:hover {
          .dropdown-menu {
            margin: 0;
            display: block;
          }
        }
      }
    }

    .menu-wrap {
      .nav-link {
        color: #333;
        // font-weight: bold;
        font-size: .9rem;
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }

    .logo {
      img {
        max-width: 170px;
        max-height: 30px;
      }
    }

    .right-btn {
      .nav-link {
        color: #333;
        padding-right: 0.7rem;
        padding-left: 0.7rem;
        i {
          font-size: 1.1rem;
        }
      }
    }
  }
}