@charset "UTF-8";

header {
  .top-wrap {
    // padding: 10px;
    height: 44px;
    // max-height: 50px;
    background: #F7F8FA;
    display: flex;
  }

  .header-content {
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .menu-wrap {
      .navbar-nav {
        li {
          &:hover {
            .dropdown-menu {
              display: block;
            }
          }
        }
      }

      .nav-link {
        color: #333;
        font-weight: bold;
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }

    .logo {
      img {
        max-width: 180px;
        max-height: 30px;
      }
    }

    .right-btn {
      .nav-link {
        color: #333;
        i {
          font-size: 1.1rem;
        }
      }
    }
  }
}