@charset "UTF-8";

/**
 * @copyright     2022 beikeshop.com - All Rights Reserved.
 * @link          https://beikeshop.com
 * @Author        pu shuo <pushuo@guangda.work>
 * @Date          2022-08-22 10:31:45
 * @LastEditTime  2022-09-19 09:59:36
 */

.install-1 {
  .welcome-img {
    max-width: 400px;
    margin: 60px 0;
  }

  .guide-text {
    max-width: 500px;
  }
}