@charset "UTF-8";

$primary: #fd560f;

body {
  // background-color: #f6f7f8;
  background-color: #f3f6f8;
  display: flex;
  height: 100vh;

  > .aside-wrap {
    width: 30%;
    background-color: #fff;
    padding: 40px 20px 40px 40px;
  }

  > .content {
    width: 70%;
    padding: 40px 60px;
  }
}

@import "steps";
@import "install-1";

