@charset "UTF-8";

/**
 * @copyright     2022 beikeshop.com - All Rights Reserved.
 * @link          https://beikeshop.com
 * @Author        pu shuo <pushuo@guangda.work>
 * @Date          2022-08-26 14:38:13
 * @LastEditTime  2022-09-19 09:59:48
 */

$primary: #fd560f;

body {
  background-color: #f3f6f8;

  .install-box {
    background-color: #f3f6f8;
    display: flex;
    // height: 100vh;
    margin: auto;
    height: 100%;

    > .aside-wrap {
      width: 30%;
      max-width: 460px;
      background-color: #fff;
      padding: 40px 20px 40px 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow-y: auto;

      @media (max-width: 768px) {
        padding: 20px;
      }
    }

    > .content {
      flex: 1;
      padding: 40px 60px;
      overflow-y: auto;
    }

    .language-switch {
      .form-select {
        width: auto
      }
    }
  }

  .table {
    --bs-table-bg: transparent;
  }
}

@import "steps";
@import "install-1";

