@charset "UTF-8";

//
// @copyright        2020 opencart.cn - All Rights Reserved
// @link             http://www.guangdawangluo.com
// @author           Sam Chen <sam.chen@opencart.cn>
// @created          2021-08-24 14:38:09
// @modified         2021-08-24 15:07:05
//

.header-wrap {
  background-color: #fff;
  height: 60px;
  border-bottom: 1px solid #f1f1f1;
  display: flex;
  align-items: center;

  .header-left {
    width: 190px;
    display: flex;
    align-items: center; // flex-start | center
    justify-content: center; // flex-end | center | space-between
    // flex-wrap: wrap;

    .logo {
      max-width: 76%;
    }
  }

  .header-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;

    .navbar {
      margin-bottom: 0;
      list-style: none;
      li {
        padding: 0.5rem 1.3rem;

        @media (max-width: 1200px) and (min-width: 992px) {
          padding: 0.5rem 1rem;
        }

        a {
          color: #333;
          padding: 0.5rem 0;
        }
      }
    }

    .navbar.navbar-right {
      li {
        a {
          position: relative;

          &:after {
            content: '';
            position: absolute;
            left: 0;
            display: none;
            bottom: 0;
            width: 100%;
            height: 3px;
            background-color: $primary;
          }
        }

        &.active, &:hover {
          a {
            &:after {
              display: block;
            }
          }
        }
      }
    }
  }

  .avatar {
    height: 36px;
    margin-bottom: -15px;
    margin-top: -15px;
    width: 36px;
  }
}