@charset "UTF-8";

/**
 * @copyright     2022 beikeshop.com - All Rights Reserved.
 * @link          https://beikeshop.com
 * @Author        pu shuo <pushuo@guangda.work>
 * @Date          2022-08-02 19:19:52
 * @LastEditTime  2022-09-16 19:05:25
 */

@font-face {font-family: 'iconfont';
  src: url('/fonts/iconfont/iconfont.woff?t=1642663530547') format('woff'), /* chrome、firefox */
  url('/fonts/iconfont/iconfont.ttf?t=1642663530547') format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  // -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-width: 0;
  -moz-osx-font-smoothing: grayscale;
}
