@charset "UTF-8";

/**
 * @copyright     2022 beikeshop.com - All Rights Reserved.
 * @link          https://beikeshop.com
 * @Author        pu shuo <pushuo@guangda.work>
 * @Date          2022-09-26 16:39:21
 * @LastEditTime  2022-09-26 16:39:34
 */

body.page-marketing {
  .marketing-item {
    box-shadow: none;
    border: 1px solid #eee;
    transition: .3s ease-in-out;

    &:hover {
      // border-color: $primary;
      margin-top: -5px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    .plugin-img {
      margin: -1rem -1rem 0 -1rem;
    }

    .plugin-name {
      height: 40px;
      overflow: hidden;
      text-overflow:ellipsis;
      // white-space: nowrap;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
  }
}

body.page-marketing-info {
  .radio-group {
    > .el-radio {
      height: auto;
      padding: 8px 15px 8px 10px;

      .el-radio__label {
        overflow: hidden;
        > img {
          max-height: 26px;
        }
      }
    }
  }
}