@charset "UTF-8";

/**
 * @copyright     2022 beikeshop.com - All Rights Reserved.
 * @link          https://beikeshop.com
 * @Author        pu shuo <pushuo@guangda.work>
 * @Date          2022-09-26 16:39:21
 * @LastEditTime  2022-09-26 16:39:34
 */

body.page-marketing {
  .marketing-item {
    box-shadow: none;
    border: 1px solid #eee;
    transition: .3s ease-in-out;

    .card-body {
      padding: 10px;
    }

    &:hover {
      // border-color: $primary;
      margin-top: -5px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    .plugin-img {
      margin: -10px -10px 0 -10px;
      img {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }
    }

    .plugin-name {
      height: 24px;
      font-size: 15px;
      // 一行 超出省略
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

body.page-marketing-info {
  .plugin-info {
    align-items: flex-start;

    .sale-wrap {
      width: 72px;
      left: -4px;
      top: -4px;
    }

    .origin-price {
      font-weight: 400;
      font-size: 12px;
    }
  }

  &.zh_cn, &.zh_hk {
    .text-last {
      width: 60px;
      text-align-last: justify;
    }
  }

  .text-last {
    display: inline-block;
  }

  .red {
    color: red;
    font-size: 14px;
  }

  .plugin-icon-wrap {
    position: relative;

    .plugin-icon {
      border-radius: 6%;
      position: relative;
      z-index: 1;
      box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
    }

    .plugin-icon-shadow {
      bottom: -14px;
      filter: blur(10px);
      left: 50%;
      border-radius: 4%;
      transform: translateX(-50%);
      width: 88%;
      opacity: 50%;
      position: absolute;
      // z-index: -1;
    }
  }

  .radio-group {
    > .el-radio {
      height: auto;
      padding: 8px 15px 8px 10px;

      .el-radio__label {
        overflow: hidden;
        > img {
          max-height: 26px;
        }
      }
    }
  }
}