@charset "UTF-8";

/**
 * @copyright     2022 beikeshop.com - All Rights Reserved.
 * @link          https://beikeshop.com
 * @Author        pu shuo <pushuo@guangda.work>
 * @Date          2022-08-09 14:12:25
 * @LastEditTime  2022-09-16 19:05:44
 */

body.page-pages-form {
  .autocomplete-group-wrapper {
    .inline-input {
      width: 100%;
    }

    .item-group-wrapper {
      padding: 10px;
      min-height: 280px;
      overflow: auto;
      background-color: #f5f5f5;
      // border: 1px solid #e3e3e3;

      .item {
        overflow: hidden;
        position: relative;
        padding: 5px 8px;
        margin-bottom: 4px;
        background: #fff;
        border: 1px solid #eee;
        cursor: move;
        display: flex;
        align-items: center; // flex-start | center
        justify-content: space-between; // flex-end | center | space-between
        &:hover {
          border-color: #aaa;
        }

        div {
          display: flex;
          line-height: 1;
          width: calc(100% - 16px);
          align-items: center; // flex-start | center

          i {
            margin-right: 4px;
          }
        }

        span {
          font-size: 12px;
          overflow: hidden;
          padding: 2px 0;
          text-overflow:ellipsis;
          white-space: nowrap;
        }

        i {
          // position: absolute;
          color: #999;
          font-weight: 400;
          &.right {
            cursor: pointer;

            &:hover {
              color: #222;
            }
          }
        }
      }
    }
  }
}