@charset "UTF-8";

/**
 * @copyright     2022 beikeshop.com - All Rights Reserved.
 * @link          https://beikeshop.com
 * @Author        pu shuo <pushuo@guangda.work>
 * @Date          2022-08-12 15:27:15
 * @LastEditTime  2022-09-16 19:05:37
 */

body.page-categories {
  .el-tree-node__content {
    height: 42px;
    border-bottom: 1px solid #f5f5f5;
  }

  .el-tree-node__expand-icon {
    color: #41454c;
    font-size: 16px;

    &.is-leaf {
      color: transparent;
    }
  }
}