@charset "UTF-8";

//
// @copyright        2020 opencart.cn - All Rights Reserved
// @link             http://www.guangdawangluo.com
// @author           Sam Chen <sam.chen@opencart.cn>
// @created          2021-08-24 14:38:09
// @modified         2022-05-09 11:36:06
//

$primary: #fd560f;

@import 'global';
@import 'vue';
@import 'sidebar';
@import 'header';
@import 'bootstrap-extra';
@import 'iconfont';
@import 'dashboard';
@import 'subscription';
@import 'form';
@import 'element-ui';
@import 'login';
@import 'page-product';
@import 'autocomplete';
@import 'page-category';
