@charset "UTF-8";

/**
 * @copyright     2022 beikeshop.com - All Rights Reserved.
 * @link          https://beikeshop.com
 * @Author        pu shuo <pushuo@guangda.work>
 * @Date          2022-08-02 19:19:52
 * @LastEditTime  2022-09-16 19:06:18
 */

.el-tabs__header {
  margin-bottom: 25px;
}

.el-tabs__item {
  padding: 0 10px;
}

.language-inputs {
  .el-form-item__content {
    line-height: 1 !important;
    &:before, &:after {
      display: none;
    }
  }

  .el-form-item {
    &:before, &:after {
      display: none;
    }

    .el-form-item__content {
      .el-input-group__prepend {
        width: 80px;
        padding: 0 10px;
      }
    }
  }
}

.el-input--small {
  .el-input__inner {
    height: 33.6px;
    line-height: 33.6px;
    border-radius: var(--bs-border-radius);
    border-color: #e2e2e2;
    padding-left: 0.75rem;
  }

  .el-textarea__inner, .el-input__inner {
    &::-webkit-input-placeholder {
      color: #666;
    }
  }
}

.el-input {
  .el-input__suffix {
    right: 8px;

    .el-icon-arrow-down {
      color: #333;
      font-weight: 900;
    }
  }
}

.bs-el-input-inner-sm {
  height: 32px;
  margin-top: 3px;
}

.el-date-editor {
  &.el-input--small {
    .el-input__inner {
      padding-left: 1.75rem;
    }
  }
}

.el-switch.is-checked .el-switch__core {
  border-color: #71c20b;
  background-color: #71c20b;
}
