@charset "UTF-8";

/**
 * @copyright     2022 beikeshop.com - All Rights Reserved.
 * @link          https://beikeshop.com
 * @Author        pu shuo <pushuo@guangda.work>
 * @Date          2022-08-04 17:52:22
 * @LastEditTime  2022-09-16 20:57:25
 */

.module-brand {
  .brand-item {
    display: flex;
    align-items: center; // flex-start | center
    justify-content: center; // flex-end | center | space-between
    box-shadow: 0 6px 18px rgba(0, 0, 0, .07);
    margin-bottom: 10px;
    height: 120px;
    overflow: hidden;
    border: 1px solid transparent;
    transition: all 0.3s ease-in-out;

    &:hover {
      box-shadow: 0 6px 18px rgba(0, 0, 0, .1);
      border: 1px solid $primary;
    }

    > img {
      max-height: 100%;
    }
  }
}