@charset "UTF-8";

/**
 * @copyright     2022 beikeshop.com - All Rights Reserved.
 * @link          https://beikeshop.com
 * @Author        pu shuo <pushuo@guangda.work>
 * @Date          2022-08-02 19:19:52
 * @LastEditTime  2022-09-16 20:57:29
 */

.pages-wrap {
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);

    .page-info {
      .pages-title {
        a {
          color: $primary;
        }
      }
    }
  }

  .image {
    margin-bottom: 10px;

    a {
      display: block;
    }
  }

  .page-info {
    transition: all 0.3s ease-in-out;
    padding: 0 5px 10px;
  }

  .pages-title {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    a {
      color: #222;
      transition: all 0.3s ease-in-out;
    }
  }

  .pages-summary {
    // 最多显示两行 多余的省略号
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 40px;
    color: #888;
    margin-bottom: 10px;
  }
}