@charset "UTF-8";

/**
 * @copyright     2022 beikeshop.com - All Rights Reserved.
 * @link          https://beikeshop.com
 * @author        guangda <service@guangda.work>
 * @Date          2022-08-02 19:19:52
 * @LastEditTime  2022-09-16 20:57:33
 */

.module-tab-product {
  .module-title {
    margin-bottom: 1rem;
  }

  .nav {
    margin-bottom: 28px;
    margin-top: -10px;

    .nav-link {
      color: #969a9e;
      font-size: 1.2rem;
      border-bottom: 2px solid transparent;
      margin: 0 17px;
      font-weight: bold;
      padding: 0.3rem .2rem;

      @media (max-width: 768px) {
        padding: 0.2rem .7rem;
        font-size: 13px;
        margin: 0;
      }
      box-shadow: none;
      &:hover {
        border-color: #ddd;
      }

      &.active {
        color: #111;
        border-color: #111;
      }
    }
  }
}