@charset "UTF-8";

.module-brand {
  .brand-item {
    display: flex;
    align-items: center; // flex-start | center
    justify-content: center; // flex-end | center | space-between
    box-shadow: 0 6px 18px rgba(0, 0, 0, .07);
    margin-bottom: 10px;
    height: 90px;

    >img {
      max-height: 100%;
    }
  }
}