@charset "UTF-8";

/**
 * @copyright     2022 beikeshop.com - All Rights Reserved.
 * @link          https://beikeshop.com
 * @Author        pu shuo <pushuo@guangda.work>
 * @Date          2022-08-02 19:19:52
 * @LastEditTime  2022-09-16 20:57:29
 */

.module-image-plus {
  .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }

  .module-image-plus-top {
    display: flex;

    .right {
      margin-left: 20px;
    }
  }

  .module-image-plus-bottom {
    margin-top: 24px;
  }
}

.module-image-banner {
  .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}

.banner-magnify-hover {
  .image-wrap {
    overflow: hidden;
    display: block;

    img {
      transition: .3s ease-in-out;
    }

    &:hover {
      img {
        transform: rotate(6deg) scale(1.3);
      }
    }
  }
}