@charset "UTF-8";

.module-image-plus {
  .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }

  .module-image-plus-top {
    display: flex;

    .right {
      margin-left: 20px;
    }
  }

  .module-image-plus-bottom {
    margin-top: 20px;
  }
}