@charset "UTF-8";

//
// @copyright        2020 opencart.cn - All Rights Reserved
// @link             http://www.guangdawangluo.com
// @author           Sam Chen <sam.chen@opencart.cn>
// @created          2021-08-24 14:38:09
// @modified         2021-08-24 15:07:05
//

$main_color: #fd560f;

.form-text.text-danger {
  font-size: 0.8rem;
}

body {
  background-image: url("/images/login-bg.svg");
  background-size: cover;
  background-position: 50%;

  &.seller-register, &.password-reset {
    .form-group {
      margin-bottom: 1.5rem;

      label {
        display: none;
      }
    }
  }
}



.card {
  box-shadow: 0 20px 27px 0 rgba(0, 0, 0, .05);
  border: none;
  border-radius: .85rem;
  overflow: hidden;
}

.card-header {
  border-bottom: none;
  background: #fff;
  font-size: 17px;
  padding-top: 40px;

  h5 {
    color: #344767;
    font-weight: 400;
    margin-bottom: 0;
  }
}


button[type="submit"] {
  background-image: linear-gradient(310deg, $main_color, #fdb504);
  // background-image: linear-gradient(310deg, $main_color, #fdb504);
  border: none;
}

.form-group {
  margin-bottom: 2rem;

  input.form-control {
    border: 1px solid #d2d6da;
    border-radius: .5rem;
    font-size: .875rem;
    font-weight: 400;
    color: #495057;
    line-height: 1.4rem;
    padding: .5rem .75rem;
    height: 40px;
  }
}

.partition {
  font-size: 12px;

  &:after, &:before {
    content: "";
    display: inline-block;
    width: 30%;
    height: 1px;
    position: relative;
    vertical-align: middle;
  }

  &:after {
    left: .5em;
    margin-right: -50%;
    background: linear-gradient(90deg,rgba(117, 117, 117, .40),rgb(117, 117, 117, .40), transparent);
  }

  &:before {
    background: linear-gradient(90deg,transparent,rgba(117, 117, 117, .40),rgb(117, 117, 117, .40));
    right: .5em;
    margin-left: -50%;
  }
}

.btn:not(.btn-link) {
  padding: .50rem 1.5rem;
  border-radius: .5rem;
  transition: all .15s ease-in;
  box-shadow: 0 4px 7px -1px rgba(0, 0, 0, .11), 0 2px 4px -1px rgba(0, 0, 0, .07);

  &:hover {
    transform: scale(1.02);
    color: #fff;
  }
}


.bg-gradient-dark {
  background-image: linear-gradient(310deg,#141727,#3a416f);
  background-color: #344767;
  border: none;
  color: #fff;
}
